.env
frontend/.npm/_cacache/content-v2/sha512/0f/80/dd8c3a39098e74426b34a864134f0e90e388e5ef347063b6ed85db34ea95067c2841093710b3e37be3778558611dea945331de80f88f3b696c85579c2265
frontend/.npm/_cacache/content-v2/sha512/0f/ec/e439109b03d7f5b5d5912b445a091dc63efe7470cc5caf3e17f24e4b4d2503d43930e3b98a24465036e9c8b514e45b082d6944a8d515454481bd65788562
frontend/.npm/_cacache/content-v2/sha512/11/31/249521a2e6dd10319ba25e803f43abdc9f170b40fe6f76e812a6e0328ba4951a2d9c94f3e9fb180486e31a1c2fb31a09f7d4a776df95b7e5fec7ca491ac3
frontend/.npm/_cacache/content-v2/sha512/15/03/783117ee25e1dfedc05b04c2455e12920eafb690002b06599106f72f144e410751d9297b5214048385d973f73398c3187c943767be630e7bffb971da0476
frontend/.npm/_cacache/content-v2/sha512/39/e8/bd387e2d461d18a94dc6c615fbf5d33f9b0560bdb64969235a464f9bb21923d12e5c7c772061a92b7818eb1f06ad5ca6f3f88a087582f1aca8a6d8c8d6d1
frontend/.npm/_cacache/content-v2/sha512/64/36/3e6cf9b9cd34c5f98a42ac053d9cad148080983d3d10b53d4d65616fe2cfbe4cd91c815693d20ebee11dae238323423cf2b07075cf1b962f9d21cda7978b
frontend/.npm/_cacache/content-v2/sha512/67/24/83ecd7fdd5a2c1d11c4be0a1ab28705797b11db350c098475ca156b05e72c3ed20e1a4d82db88236680920edaed04b8d63c4f499d7ba7855d1a730793731
frontend/.npm/_cacache/content-v2/sha512/b0/f5/38b95edd625bed589c70c311c3d0fba285536213b4f201b439496c43081f66518bce82ba103b061040e28f27c0886c4fb51135653a82b5502da7537818be
frontend/.npm/_cacache/content-v2/sha512/d5/5c/ceb6e10cf290bd48553513ef0a7d38d9c8cced46c8047f0425e38cfc036e6ecb5de34b34e3e9dc8ad837f9da2574be01c27c1c0b84359ebcb9fde70e6fe9
frontend/.npm/_cacache/index-v5/2f/b5/99a8ac8d9fe0f2ad4894aa959445cb3e3c9b6cd11883956769678b196ced
frontend/.npm/_cacache/index-v5/4c/74/a2b741aec6bd4dd94223969fdf1afbd63e8b8cbafb7cd5d5029acb3181e1
frontend/.npm/_cacache/index-v5/56/87/ff2360e9b1a8734e9f178153b94287d9bc5fa0e11a7eafd426b2bb92f33a
frontend/.npm/_cacache/index-v5/5e/2f/b0d7ba846044fe5a2fa1d8341f6a7f56438ae9161709a548cbda5f1fd7c3
frontend/.npm/_cacache/index-v5/98/39/b93a55ccc4e49f1f202fb8da7ee9e687e3a2a49ec42d4759cf6b22a7a96a
frontend/.npm/_cacache/index-v5/a5/14/53e431efe5d40277f768cec075f9e7f618f2296715654a7b953121078b1e
frontend/.npm/_cacache/index-v5/ab/ec/2a071dc7668d95f9fa9b8a1f9c48b25d66c6bb9f8e274950241fb08c4844
frontend/.npm/_cacache/index-v5/b7/28/9455c84cc38934d55250e295b8e7884e8ac2b664a27cc5715b36eccb4d68
frontend/.npm/_cacache/index-v5/e5/e5/161694aff08b797abb81c020edc9968f00a2fdf68137b6a973badf917a30
frontend/.npm/_cacache/tmp/81410d19
frontend/.npm/_logs/2023-09-23T07_21_18_338Z-debug-0.log
backend/tmp/cache/bootsnap/compile-cache-iseq/58/1a94efca429118
backend/log/development.log
node_modules/.package-lock.json
node_modules/asynckit/bench.js
node_modules/asynckit/index.js
node_modules/asynckit/LICENSE
node_modules/asynckit/package.json
node_modules/asynckit/parallel.js
node_modules/asynckit/README.md
node_modules/asynckit/serial.js
node_modules/asynckit/serialOrdered.js
node_modules/asynckit/stream.js
node_modules/asynckit/lib/abort.js
node_modules/asynckit/lib/async.js
node_modules/asynckit/lib/defer.js
node_modules/asynckit/lib/iterate.js
node_modules/asynckit/lib/readable_asynckit.js
node_modules/asynckit/lib/readable_parallel.js
node_modules/asynckit/lib/readable_serial_ordered.js
node_modules/asynckit/lib/readable_serial.js
node_modules/asynckit/lib/state.js
node_modules/asynckit/lib/streamify.js
node_modules/asynckit/lib/terminator.js
node_modules/axios/CHANGELOG.md
node_modules/axios/index.d.cts
node_modules/axios/index.d.ts
node_modules/axios/index.js
node_modules/axios/LICENSE
node_modules/axios/MIGRATION_GUIDE.md
node_modules/axios/package.json
node_modules/axios/README.md
node_modules/axios/SECURITY.md
node_modules/axios/dist/axios.js
node_modules/axios/dist/axios.js.map
node_modules/axios/dist/axios.min.js
node_modules/axios/dist/axios.min.js.map
node_modules/axios/dist/browser/axios.cjs
node_modules/axios/dist/browser/axios.cjs.map
node_modules/axios/dist/esm/axios.js
node_modules/axios/dist/esm/axios.js.map
node_modules/axios/dist/esm/axios.min.js
node_modules/axios/dist/esm/axios.min.js.map
node_modules/axios/dist/node/axios.cjs
node_modules/axios/dist/node/axios.cjs.map
node_modules/axios/lib/axios.js
node_modules/axios/lib/utils.js
node_modules/axios/lib/adapters/adapters.js
node_modules/axios/lib/adapters/http.js
node_modules/axios/lib/adapters/README.md
node_modules/axios/lib/adapters/xhr.js
node_modules/axios/lib/cancel/CanceledError.js
node_modules/axios/lib/cancel/CancelToken.js
node_modules/axios/lib/cancel/isCancel.js
node_modules/axios/lib/core/Axios.js
node_modules/axios/lib/core/AxiosError.js
node_modules/axios/lib/core/AxiosHeaders.js
node_modules/axios/lib/core/buildFullPath.js
node_modules/axios/lib/core/dispatchRequest.js
node_modules/axios/lib/core/InterceptorManager.js
node_modules/axios/lib/core/mergeConfig.js
node_modules/axios/lib/core/README.md
node_modules/axios/lib/core/settle.js
node_modules/axios/lib/core/transformData.js
node_modules/axios/lib/defaults/index.js
node_modules/axios/lib/defaults/transitional.js
node_modules/axios/lib/env/data.js
node_modules/axios/lib/env/README.md
node_modules/axios/lib/env/classes/FormData.js
node_modules/axios/lib/helpers/AxiosTransformStream.js
node_modules/axios/lib/helpers/AxiosURLSearchParams.js
node_modules/axios/lib/helpers/bind.js
node_modules/axios/lib/helpers/buildURL.js
node_modules/axios/lib/helpers/callbackify.js
node_modules/axios/lib/helpers/combineURLs.js
node_modules/axios/lib/helpers/cookies.js
node_modules/axios/lib/helpers/deprecatedMethod.js
node_modules/axios/lib/helpers/formDataToJSON.js
node_modules/axios/lib/helpers/formDataToStream.js
node_modules/axios/lib/helpers/fromDataURI.js
node_modules/axios/lib/helpers/HttpStatusCode.js
node_modules/axios/lib/helpers/isAbsoluteURL.js
node_modules/axios/lib/helpers/isAxiosError.js
node_modules/axios/lib/helpers/isURLSameOrigin.js
node_modules/axios/lib/helpers/null.js
node_modules/axios/lib/helpers/parseHeaders.js
node_modules/axios/lib/helpers/parseProtocol.js
node_modules/axios/lib/helpers/readBlob.js
node_modules/axios/lib/helpers/README.md
node_modules/axios/lib/helpers/speedometer.js
node_modules/axios/lib/helpers/spread.js
node_modules/axios/lib/helpers/throttle.js
node_modules/axios/lib/helpers/toFormData.js
node_modules/axios/lib/helpers/toURLEncodedForm.js
node_modules/axios/lib/helpers/validator.js
node_modules/axios/lib/helpers/ZlibHeaderTransformStream.js
node_modules/axios/lib/platform/index.js
node_modules/axios/lib/platform/browser/index.js
node_modules/axios/lib/platform/browser/classes/Blob.js
node_modules/axios/lib/platform/browser/classes/FormData.js
node_modules/axios/lib/platform/browser/classes/URLSearchParams.js
node_modules/axios/lib/platform/node/index.js
node_modules/axios/lib/platform/node/classes/FormData.js
node_modules/axios/lib/platform/node/classes/URLSearchParams.js
node_modules/combined-stream/License
node_modules/combined-stream/package.json
node_modules/combined-stream/Readme.md
node_modules/combined-stream/yarn.lock
node_modules/combined-stream/lib/combined_stream.js
node_modules/delayed-stream/.npmignore
node_modules/delayed-stream/License
node_modules/delayed-stream/Makefile
node_modules/delayed-stream/package.json
node_modules/delayed-stream/Readme.md
node_modules/delayed-stream/lib/delayed_stream.js
node_modules/follow-redirects/debug.js
node_modules/follow-redirects/http.js
node_modules/follow-redirects/https.js
node_modules/follow-redirects/index.js
node_modules/follow-redirects/LICENSE
node_modules/follow-redirects/package.json
node_modules/follow-redirects/README.md
node_modules/form-data/index.d.ts
node_modules/form-data/License
node_modules/form-data/package.json
node_modules/form-data/Readme.md
node_modules/form-data/README.md.bak
node_modules/form-data/lib/browser.js
node_modules/form-data/lib/form_data.js
node_modules/form-data/lib/populate.js
node_modules/mime-db/db.json
node_modules/mime-db/HISTORY.md
node_modules/mime-db/index.js
node_modules/mime-db/LICENSE
node_modules/mime-db/package.json
node_modules/mime-db/README.md
node_modules/mime-types/HISTORY.md
node_modules/mime-types/index.js
node_modules/mime-types/LICENSE
node_modules/mime-types/package.json
node_modules/mime-types/README.md
node_modules/proxy-from-env/.eslintrc
node_modules/proxy-from-env/.travis.yml
node_modules/proxy-from-env/index.js
node_modules/proxy-from-env/LICENSE
node_modules/proxy-from-env/package.json
node_modules/proxy-from-env/README.md
node_modules/
backend/log/
frontend/.npm/
backend/tmp/
backend/.local/share/pry/pry_history
backend/log/development.log
backend/tmp/cache/bootsnap/load-path-cache
backend/tmp/cache/bootsnap/compile-cache-iseq/27/809353d8aaa9aa
backend/tmp/cache/bootsnap/compile-cache-iseq/a1/40a672b7ac8e62
backend/tmp/cache/bootsnap/compile-cache-iseq/a2/578aa5a0f4d41b
frontend/.npm/_cacache/index-v5/af/03/5c781820370e585dc2323edbbc80669bf714da5b47d56510c7d0bd7521ee
frontend/.npm/_logs/2023-09-03T07_24_11_424Z-debug-0.log
frontend/.npm/_logs/2023-09-03T07_38_30_561Z-debug-0.log
backend/.local/share/pry/pry_history
backend/log/development.log
backend/tmp/cache/bootsnap/load-path-cache
backend/tmp/cache/bootsnap/compile-cache-iseq/27/809353d8aaa9aa
backend/tmp/cache/bootsnap/compile-cache-iseq/a1/40a672b7ac8e62
backend/tmp/cache/bootsnap/compile-cache-iseq/a2/578aa5a0f4d41b
frontend/.npm/_cacache/index-v5/af/03/5c781820370e585dc2323edbbc80669bf714da5b47d56510c7d0bd7521ee
frontend/.npm/_logs/2023-09-03T07_24_11_424Z-debug-0.log
frontend/.npm/_logs/2023-09-03T07_38_30_561Z-debug-0.log
backend/.local/share/pry/pry_history
